.calculation-page {
  padding: 70px 0 50px;
}
.calculation-page-price {
  padding-bottom: 50px;
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  &__card {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__img {
    width: 88px;
  }
  &__title {
    display: block;
    text-align: center;
    color: #4f4f4f;
    font-family: "Golos";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    padding-bottom: 30px;
  }
  &__text {
    display: block;
    color: #4f4f4f;
    font-family: "Golos";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  &__descr {
    padding-top: 30px;
    font-family: "Golos";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    color: #4f4f4f;
  }
}

